<h1>Site::Welcome#index</h1>


<% if user_signed_in? %>
    <p>O <strong>Usuário</strong> está logado! / <%= current_user.email %> </p>
<% end %>

<% if admin_signed_in? %>
    <p>O <strong>Administrador</strong> está logado! / <%= current_admin.email %> </p>
<% end %>